.sort {
  position: relative;
  display: flex;
  align-items: center;
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.21px;
}

.sortIcon {
  margin-right: 7px;
  transform: rotate(180deg);
  transition: all 0.3s;
  cursor: pointer;
}

.sortText {
  span {
    margin-left: 8px;
    color: #fe5f1e;
    cursor: pointer;
    border-bottom: 1px dotted #fe5f1e;
  }
}

.sortPopup {
  transition: all 0.3s;
  transform: scale(0);
  border-radius: 18px;
  bottom: -105px;
  right: 0;
  z-index: 5;
  position: absolute;
  width: 132px;
  min-height: 100px;
  box-shadow: 0 15px 46px -20px rgba(0, 0, 0);
  background: #fff;
  padding: 14px 0;

  .popupText {
    padding: 10px 14px;
    cursor: pointer;

    &:hover {
      background: rgba(254, 95, 30, 0.05);
      color: #fe5f1e;
    }
  }
}
