.sort {
  position: relative;
  display: flex;
  align-items: center;
  color: #2c2c2c;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.21px;
}

.sortIcon {
  margin-right: 7px;
  transition: all 0.3s;
}

.sortIconAsc {
  margin-right: 7px;
  transform: rotate(180deg);
  transition: all 0.3s;
}

.sortText {
  span {
    color: #fe5f1e;
    cursor: pointer;
  }
}

.sortPopup {
  transition: all 0.3s;
  opacity: 0;
  border-radius: 18px;
  z-index: 5;
  bottom: -105px;
  right: 0;
  position: absolute;
  width: 132px;
  min-height: 100px;
  box-shadow: 0 15px 46px -20px rgba(0, 0, 0);
  background: #fff;
  padding: 14px 0;

  .popupText {
    padding: 10px 14px;

    &:hover {
      cursor: pointer;
      background: rgba(254, 95, 30, 0.05);
      color: #fe5f1e;
    }
  }
}

.activeText {
  background: rgba(254, 95, 30, 0.05);
  color: #fe5f1e;
  padding: 10px 14px;
  cursor: pointer;
}

.activePopup {
  transition: all 0.3s;
  border-radius: 18px;
  z-index: 5;
  bottom: -105px;
  right: 0;
  position: absolute;
  width: 132px;
  min-height: 100px;
  box-shadow: 0 15px 46px -20px rgba(0, 0, 0);
  background: #fff;
  padding: 14px 0;

  .popupText {
    padding: 10px 14px;

    &:hover {
      cursor: pointer;
      background: rgba(254, 95, 30, 0.05);
      color: #fe5f1e;
    }
  }
  opacity: 1;
}
